.container{
    height: 100vh;
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 280px;
    height: 440px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}
img{
    height: 130px;
    width: 100%;
}
.text{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#amountbox{
    background-color: #80D0C7;
    width: 220px;
    height: 45px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 5px;
    
    
}
#button{
    width: 200px;
    height: 45px;
    border-radius: 25px;   
    background-color: #0e1055;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 1.5s;
}
#button:hover{
    transform: scale(1.1);

}
.cacelbutton a{
    text-decoration: none;
    color: rgb(92, 85, 85);
    font-weight: bold;
}
#amountbox img{
    height: 40px;
    width: 30px;
    border-radius: 20px;
    padding: 3px;
    
   
}
.plan{
    padding: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    

}

.change {
    color: blue;
    padding-left: 40px;


}